[Desktop Entry]
Name=WallShift
Comment=Manage wallpapers, rotation and color themes
Exec=wallshift
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;GTK;
Keywords=wallpaper;background;hyprland;theme;color;
